# Ignore Node.js modules
node_modules/

# Ignore the distribution directory
/dist


# Ignore compiled TypeScript declaration files
*.d.ts

# Ignore log files and debugging data
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Ignore macOS system files
.DS_Store

# Ignore Webpack's build files
/build

# Ignore Visual Studio Code settings
.vscode/

# Ignore package-lock.json for NPM and yarn.lock for Yarn
package-lock.json
yarn.lock
